@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
}

app-ar-management-page,
app-user-management-page,
app-dashboard-page {
  display: block;
  height: 100%;
}

@layer base {
  body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    @apply font-roboto bg-base text-body-1;
  }
}
